* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 10px */
}

.roboto-mono-titles {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.roboto-mono-maintext {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

p {
    white-space: normal; 
    word-wrap: break-word; 
}


.header {
    border-top: 5px ;
    border-bottom: 10px ;
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
}

.header .header_float {
    min-height: 60px;

}

.site_nav {
    float: right;
    line-height: 60px;
}

#itens_barra {
    font-size: 18px;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 20px;
}

#home {
    line-height: 60px;
}

#home_img {
    max-width: 70px;
    margin-top: 10px;
}

.hover-li:hover {
    transform: scale(1.1);

}

a:visited {
    color: #2e0a38;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black
}

a:hover {
    color: #713781;
    transition: transform 0.3s ease;
}

.links .hover-li a {
    color: black;
    transition: transform 0.3s ease;
}

.links .hover-li:hover a{
    transform: scale(1.2);
}

/* -------------------------------- Scrollbar */

::-webkit-scrollbar {
    width: 1.6rem;
}

::-webkit-scrollbar-thumb {
    width: 1.6rem;
    background-color: #713781;
    border-radius: 30%;
    border: 0.2rem solid #ffffff;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2e0a38;
}
/* -------------------------------------------- */